// ! Font family
$mainFont: "Euclid Circular A", sans-serif;

// !Scree size
$mobile: 576px;
$desktop: 992px;

// ! Font-weights
$fw-400: 400;
$fw-500: 500;

// ! Font-sizes
$fs-regular: 1.6rem;
$fs-medium: 1.4rem;
$fs-small: 1.2rem;

// ! Colors
$clr-brand: #2dd06e;
$clr-gray-1: #333333;
$clr-gray-2: #4f4f4f;
$clr-gray-3: #828282;
$clr-gray-4: #bdbdbd;
$clr-gray-5: #e0e0e0;
$clr-gray-6: #f2f2f2;

// ! border radius 
$radius-btn: 8px;
